/* En el archivo styles.css */
@import 'bootstrap/dist/css/bootstrap.min.css';

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

main {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap; /* Cambiado a wrap para que los elementos vayan a la siguiente línea si no hay espacio */
}

footer {
  margin-top: 20px;
}
